openapi: 3.0.0
info: 
	version: 1.0.0
	title: SoftengProject
	description: Api for tolls interoperability system
	
servers:
	-url: http://tolltrolls.tk:9103/interoperability/api
    
paths:
    /admin/healthcheck:
        get:
            summary: Checks if the connection with the DB is active
            responses:
                '200':
                    description: A JSON object declaring that the connection is ok and containing the connection string
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status: "OK"
                                    dbconnection: string
                                    
                '400':
                    description: A JSON object declaring that there is no connection and containing the connection string
                    content:
                        application/json:
                            schema:
                                schema:
                                type: object
                                properties:
                                    status: "failed"
                                    dbconnection: string
    
    /admin/resetpasses:
        post:
            summary: delete all pass records
            responses:
                '200':
                    description: A JSON object declaring that all records have been succesfully deleted and containing the connection string
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status: "OK"
                                    dbconnection: string
                                    
                '400':
                    description: A JSON object declaring that an internal server error occured and containing the connection string
                    content:
                        application/json:
                            schema:
                                schema:
                                type: object
                                properties:
                                    status: "failed"
                                    dbconnection: string
            
    /admin/resetstations:
        post:
                summary: delete all station records and reset the initial ones
                responses:
                    '200':
                        description: A JSON object declaring that the initial records have been succesfully reset and containing the connection string
                        content:
                            application/json:
                                schema:
                                    type: object
                                    properties:
                                        status: "OK"
                                        dbconnection: string
                                        
                    '400':
                        description: A JSON object declaring that an internal server error occured and containing the connection string
                        content:
                            application/json:
                                schema:
                                    schema:
                                    type: object
                                    properties:
                                        status: "failed"
                                        dbconnection: string
    /admin/resetvehicles:
        summary: delete all vehicle records and reset the initial ones
            responses:
                '200':
                    description: A JSON object declaring that the initial records have been succesfully reset and containing the connection string
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status: "OK"
                                    dbconnection: string
                                    
                '400':
                    description: A JSON object declaring that an internal server error occured and containing the connection string
                    content:
                        application/json:
                            schema:
                                schema:
                                type: object
                                properties:
                                    status: "failed"
                                    dbconnection: string
    /PassesPerStation/{stationID}/{date_from}/{date_to}:
        get:
            summary: returns analysis of passes for a specific toll station
            parameters: 
                -name: stationID
                    in: path
                    required: true
                    description: the ID of the station for which the analysis will be returned
                    schema:
                        type: string
                        format: utf-8
                        
                -name: date_from
                    in: path 
                    required: true
                    description: Starting date for the analysis of the station's passes, given in form YYYYMMDD
                    schema:
                        type: integer
                        format: int64
                        
               -name: date_to
                    in: path 
                    required: true
                    description: Ending date for the analysis of the station's passes, given in form YYYYMMDD
                    schema:
                        type: integer
                        format: int64
               -name: format
                    in: query
                    required: false
                    description: the requested format for the data returned
                    schema:
                        type: string
                        enum:
                            -json
                            -csv
            produces:
                -application/json
                -text/csv
            responses:
                '200':
                    description: Information about the station and a list of Passes
                    content: 
                        application/json:
                            schema:
                                type: object    
                                properties:
                                    Station:
                                        type: String
                                        description: the id of the station
                                    StationOperator:
                                        type: String
                                        description: the operator that owns the station
                                    RequestTimestamp:
                                        type: String
                                        description: date and time of endpoint call
                                    PeriodFrom:
                                        type: String
                                        description: starting datetime for the information returned
                                    PeriodTo:
                                        type: String
                                        description: ending datetime for the information returned
                                    NumberOfPasses:
                                        type: Integer
                                        description: total number of passes in Station during the period between PeriodFrom and PeriodTo
                                    PassesList:
                                        type: array
                                        items: 
                                            type: object
                                            properties:
                                                PassIndex:
                                                    type: Integer
                                                    description: increasing number of pass (1,2,3,...)
                                                PassID:
                                                    type: String
                                                    description: Id of Pass event
                                                PassTimeStamp:
                                                    type: String
                                                    description: Date and Time when the Pass occured
                                                VehicleID:
                                                    type: String
                                                    description: The Id of the vehicle participating in the pass event
                                                TagProvider:
                                                    type: String
                                                    description: operator that provided the tag
                                                PassType:
                                                    type: String
                                                    description: "home" of "visitor"
                                                PassCharge:
                                                    type: Float
                                                    description: Amount of money with which the tag was charged
                                        description: array of objects containing information about one pass event, each
                        text/csv:
                            schema:
                                type: string
                '500':
                    description: an internal server error occcured
                        
    /PassesAnalysis/{op1_ID}/{op2_ID}/{date_from}/{date_to}:
        get:
            summary: returns analysis of PassesPerStation type for any station of op1_ID with op2_ID's tags
            parameters: 
                -name: op1_ID
                    in: path
                    required: true
                    description: the ID of op1
                    schema:
                        type: string
                        format: utf-8
                        
                -name: op2_ID
                    in: path
                    required: true
                    description: the ID of op2
                    schema:
                        type: string
                        format: utf-8
                        
                -name: date_from
                    in: path 
                    required: true
                    description: Starting date for the analysis, given in form YYYYMMDD
                    schema:
                        type: integer
                        format: int64
                        
               -name: date_to
                in: path 
                    required: true
                    description: Ending date for the analysis, given in form YYYYMMDD
                    schema:
                        type: integer
                        format: int64
               -name: format
                    in: query
                    required: false
                    description: the requested format for the data returned
                    schema:
                        type: string
                        enum:
                            -json
                            -csv
            produces:
                -application/json
                -text/csv
            responses:
                '200':
                    description: a list of passes and some characterictic information about it
                    content: 
                        application/json:
                            schema:
                                type: object    
                                properties:
                                    op1_ID:
                                        type: String
                                        description: the id of the operator, whose stations we are interested in 
                                    op2_ID:
                                        type: String
                                        description: the id of the operator, whose tags we are interested in
                                    RequestTimestamp:
                                        type: String
                                        description: date and time of endpoint call
                                    PeriodFrom:
                                        type: String
                                        description: starting datetime for the inforamtion returned
                                    PeriodTo:
                                        type: String
                                        description: ending datetime for the inforamtion returned
                                    NumberOfPasses:
                                        type: Integer
                                        description: total number of passes during the period between PeriodFrom and PeriodTo
                                    PassesList:
                                        type: array
                                        items: 
                                            type: object
                                            properties:
                                                PassIndex:
                                                    type: Integer
                                                    description: increasing number of pass (1,2,3,...)
                                                PassID:
                                                    type: String
                                                    description: Id of Pass event
                                                StationID:
                                                    type: String
                                                    description: ID of Station where the Pass takes place
                                                TimeStamp:
                                                    type: String
                                                    description: Date and Time when the Pass occured
                                                VehicleID:
                                                    type: String
                                                    description: The Id of the vehicle participating in the pass event
                                                Charge:
                                                    type: Float
                                                    description: Amount of money with which the tag was charged
                                        description: array of objects containing information about one pass event, each
                        text/csv:
                            schema:
                                type: string
                '500':
                    description: an internal server error occcured
    /PassesCost/{op1_ID}/{op2_ID}/{date_from}/{date_to}:
        get:
            summary: returns total number of events in op1_ID's stations with op2_ID's tags and the cost  
            parameters: 
                -name: op1_ID
                    in: path
                    required: true
                    description: the ID of op1
                    schema:
                        type: string
                        format: utf-8                        
                -name: op2_ID
                    in: path
                    required: true
                    description: the ID of op2
                    schema:
                        type: string
                        format: utf-8                      
                -name: date_from
                    in: path 
                    required: true
                    description: Starting date for the analysis, given in form YYYYMMDD
                    schema:
                        type: integer
                        format: int64                       
               -name: date_to
                in: path 
                    required: true
                    description: Ending date for the analysis, given in form YYYYMMDD
                    schema:
                        type: integer
                        format: int64
               -name: format
                    in: query
                    required: false
                    description: the requested format for the data returned
                    schema:
                        type: string
                        enum:
                            -json
                            -csv
            produces:
                -application/json
                -text/csv
            responses:
                '200':
                    description: information about the total amount that op2 ows to op1 for a certain period
                    content: 
                        application/json:
                            schema:
                                type: object    
                                properties:
                                    op1_ID:
                                        type: String
                                        description: the id of the operator, whose stations we are interested in 
                                    op2_ID:
                                        type: String
                                        description: the id of the operator, whose tags we are interested in
                                    RequestTimestamp:
                                        type: String
                                        description: date and time of endpoint call
                                    PeriodFrom:
                                        type: String
                                        description: starting datetime for the inforamtion returned
                                    PeriodTo:
                                        type: String
                                        description: ending datetime for the inforamtion returned
                                    NumberOfPasses:
                                        type: Integer
                                        description: total number of passes during the period between PeriodFrom and PeriodTo
                                    PassesCost:
                                        type: Integer
                                        description: Total amount that op2 owes to op1 for the given period
                        text/csv:
                            schema:
                                $ref: '#/components/schemas/PassesPerStation'
                '500':
                    description: an internal server error occcured
    /ChargesBy/{op_ID}/{date_from}/{date_to}:
        get:
            summary: returns total number of events in op_ID's stations with vehicles of any other operator and the cost for each operator
            parameters: 
                -name: op_ID
                    in: path
                    required: true
                    description: the ID of op1
                    schema:
                        type: string
                        format: utf-8       
                -name: date_from
                    in: path 
                    required: true
                    description: Starting date for the analysis, given in form YYYYMMDD
                    schema:
                        type: integer
                        format: int64                      
               -name: date_to
                in: path 
                    required: true
                    description: Ending date for the analysis, given in form YYYYMMDD
                    schema:
                        type: integer
                        format: int64
               -name: format
                    in: query
                    required: false
                    description: the requested format for the data returned
                    schema:
                        type: string
                        enum:
                            -json
                            -csv
            produces:
                -application/json
                -text/csv
            responses:
                '200':
                    description: the total amount of money owed by all other operators to op_id and some information about it
                    content: 
                        application/json:
                            schema:
                                type: object    
                                properties:
                                    op_ID:
                                        type: String
                                        description: ID of operator we are interested in 
                                    RequestTimestamp:
                                        type: String
                                        description: date and time of endpoint call
                                    PeriodFrom:
                                        type: String
                                        description: starting datetime for the information returned
                                    PeriodTo:
                                        type: String
                                        description: ending datetime for the information returned
                                    PPOList:
                                        type: array
                                        items: 
                                            type: object
                                            properties:
                                                VisitingOperator:
                                                    type: String
                                                    description: ID of visiting operator
                                                NumberOfPasses:
                                                    type: Integer
                                                    description: total number of passes in po_ID's Stations with tags of VisitingOperator during the period between PeriodFrom and PeriodTo                                                
                                                PassesCost:
                                                    type: Float
                                                    description: total amount of money owed by VisitingOperator to op_ID for the given period
                                        description: array of objects containing information about one visiting operator, each
                        text/csv:
                            schema:
                                type: String
                '500':
                    description: an internal server error occcured