openapi: 3.0.0
info: 
	version: 1.0.0
	title: SoftengProject
	description: Api for tolls interoperability system
	
servers:
	-url: http://tolltrolls.tk
    -port: 9103
    
paths:
    /admin/healthcheck:
        get:
            summary: Checks if the connection with the DB is active
            responses:
                '200':
                    description: A JSON object declaring that the connection is ok and containing the connection string
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status: "OK"
                                    dbconnection: string
                                    
                '400':
                    description: A JSON object declaring that there is no connection and containing the connection string
                    content:
                        application/json:
                            schema:
                                schema:
                                type: object
                                properties:
                                    status: "failed"
                                    dbconnection: string
    
    /admin/resetpasses:
        post:
            summary: delete all pass records
            responses:
                '200':
                    description: A JSON object declaring that all records have been succesfully deleted and containing the connection string
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status: "OK"
                                    dbconnection: string
                                    
                '400':
                    description: A JSON object declaring that an internal server error occured and containing the connection string
                    content:
                        application/json:
                            schema:
                                schema:
                                type: object
                                properties:
                                    status: "failed"
                                    dbconnection: string
            
    /admin/resetstations:
        post:
                summary: delete all station records and reset the initial ones
                responses:
                    '200':
                        description: A JSON object declaring that the initial records have been succesfully reset and containing the connection string
                        content:
                            application/json:
                                schema:
                                    type: object
                                    properties:
                                        status: "OK"
                                        dbconnection: string
                                        
                    '400':
                        description: A JSON object declaring that an internal server error occured and containing the connection string
                        content:
                            application/json:
                                schema:
                                    schema:
                                    type: object
                                    properties:
                                        status: "failed"
                                        dbconnection: string
    /admin/resetvehicles:
        summary: delete all vehicle records and reset the initial ones
            responses:
                '200':
                    description: A JSON object declaring that the initial records have been succesfully reset and containing the connection string
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status: "OK"
                                    dbconnection: string
                                    
                '400':
                    description: A JSON object declaring that an internal server error occured and containing the connection string
                    content:
                        application/json:
                            schema:
                                schema:
                                type: object
                                properties:
                                    status: "failed"
                                    dbconnection: string
    /PassesPerStation/{stationID}/{date_from}/{date_to}:
        get:
            summary: returns analysis of passes for a specific toll station
            parameters: 
                -name: stationID
                    in: path
                    required: true
                    description: the ID of the station for which the analysis will be returned
                    schema:
                        type: string
                        format: utf-8
                        
                -name: date_from
                    in: path 
                    required: true
                    description: Starting date for the analysis of the station's passes, given in form YYYYMMDD
                    schema:
                        type: integer
                        format: int64
                        
               -name: date_to
                in: path 
                    required: true
                    description: Ending date for the analysis of the station's passes, given in form YYYYMMDD
                    schema:
                        type: integer
                        format: int64
            responses:
                '200':
                    description: ***
                    content: ***
                '500':
                    description: an internal server error occcured
                        
    /PassesAnalysis/{op1_ID}/{op2_ID}/{date_from}/{date_to}:
        get:
            summary: returns analysis PassesPerStation type for any station of op1_ID with op2_ID's tags
            parameters: 
                -name: op1_ID
                    in: path
                    required: true
                    description: the ID of op1
                    schema:
                        type: string
                        format: utf-8
                        
                -name: op2_ID
                    in: path
                    required: true
                    description: the ID of op2
                    schema:
                        type: string
                        format: utf-8
                        
                -name: date_from
                    in: path 
                    required: true
                    description: Starting date for the analysis, given in form YYYYMMDD
                    schema:
                        type: integer
                        format: int64
                        
               -name: date_to
                in: path 
                    required: true
                    description: Ending date for the analysis, given in form YYYYMMDD
                    schema:
                        type: integer
                        format: int64
            responses:
                '200':
                    description: ***
                    content: ***
                '500':
                    description: an internal server error occcured
    /PassesCost/{op1_ID}/{op2_ID}/{date_from}/{date_to}:
        get:
            summary: returns total number of events in op1_ID's stations with op2_ID's tags and the cost  
            parameters: 
                -name: op1_ID
                    in: path
                    required: true
                    description: the ID of op1
                    schema:
                        type: string
                        format: utf-8
                        
                -name: op2_ID
                    in: path
                    required: true
                    description: the ID of op2
                    schema:
                        type: string
                        format: utf-8
                        
                -name: date_from
                    in: path 
                    required: true
                    description: Starting date for the analysis, given in form YYYYMMDD
                    schema:
                        type: integer
                        format: int64
                        
               -name: date_to
                in: path 
                    required: true
                    description: Ending date for the analysis, given in form YYYYMMDD
                    schema:
                        type: integer
                        format: int64
            responses:
                '200':
                    description: ***
                    content: ***
                '500':
                    description: an internal server error occcured
    /ChargesBy/{op_ID}/{date_from}/{date_to}:
        get:
            summary: returns total number of events in op_ID's stations with vehicles of any other operator and the cost for each operator
            parameters: 
                -name: op_ID
                    in: path
                    required: true
                    description: the ID of op1
                    schema:
                        type: string
                        format: utf-8
                        
                -name: date_from
                    in: path 
                    required: true
                    description: Starting date for the analysis, given in form YYYYMMDD
                    schema:
                        type: integer
                        format: int64
                        
               -name: date_to
                in: path 
                    required: true
                    description: Ending date for the analysis, given in form YYYYMMDD
                    schema:
                        type: integer
                        format: int64
            responses:
                '200':
                    description: ***
                    content: ***
                '500':
                    description: an internal server error occcured